@import "tailwindcss";
@import "@xterm/xterm/css/xterm.css";

body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  overflow: hidden;
  background-color: #020617; /* slate-950 */
  color: #f8fafc; /* slate-50 */
}

@keyframes dash {
  from {
    stroke-dashoffset: 20;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.animate-dash {
  stroke-dasharray: 6, 4;
  animation: dash 1s linear infinite;
}

.animate-dash-fast {
  stroke-dasharray: 6, 4;
  animation: dash 0.4s linear infinite;
}
